<app-bs-navbar></app-bs-navbar>

<div>
  <div *ngFor="let Data of Array">

    <!--<div *ngIf="button.switchId.Name === 'Temp' ; else original"></div>-->
    <!--<ng-template #original>-->
      <table class="table table-bordered">
        <th [ngClass] = "Data.Attendance < 85 ? lessClass: null" >{{Data.Name}}</th>
        <tr>
          <td>
          <!--<td class="col-md-2">-->
           Attendance : {{Data.Attendance}} %
          </td>
          <!--<td class="col-md-3">-->
         <td>
            USN: {{Data.USN}}
          </td>
          <!--<td class="col-md-1">-->
     <td>
              CIE: {{Data.CIE}}
          </td>
          <!--<td class="col-md-6">-->
 <td>
           Subject: {{Data.Subject}}
          </td>
        </tr>
      </table>
    <!--</ng-template>-->
  </div>

  <a routerLink="/excel" routerLinkActive class="btn btn-outline-dark">Download</a>

</div>
